@font-face {
    font-family: D-DIN-Bold;
    src: url(./html/D-DIN-Bold.otf)
}

@font-face {
    font-family: D-DIN;
    src: url(./html/D-DIN.otf)
}

body {
    background-color: #1E1E1E;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
    color: white;
    font-family: D-DIN;
}

#home-title {
    position: relative;
    font-family: D-DIN-Bold;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

#adder-title {
    font-family: D-DIN-Bold;
    font-size: 30px;
    margin-top: 10px;
}

.top-bar {
    background-color: #1E1E1E;
    height: 12vw;
    overflow: hidden;
    display: flex;
    color: white;
    border-style: none none solid none;
    border-color: green;
    position: sticky;
    top: 0;
    z-index: 1;
}

#lw-logo {
    margin-left: 2vw;
    height: 50%;
    margin-top: 20px;
}

.add-btn {
    margin-top: 50px;
    margin-left: 60vw;
    color: white;
    background-color: transparent;
    outline: none;
    font-size: 40px;
    cursor: pointer;
    position: relative;
}

.rmv-btn {
    margin-top: 50px;
    margin-left: 5px;
    color: white;
    background-color: transparent;
    outline: none;
    font-size: 40px;
    cursor: pointer;
    position: relative;
}

.cls-btn {
    margin-top: 50px;
    margin-left: 5px;
    color: white;
    background-color: transparent;
    outline: none;
    font-size: 40px;
    cursor: pointer;
    position: relative;
}

.add-btn:hover {
    color: rgb(78, 209, 78);
}

.add-btn:active {
    transform: translateY(4px);
}

.rmv-btn:hover {
    color: rgb(78, 209, 78);
}

.rmv-btn:active {
    transform: translateY(4px);
}

.cls-btn:hover {
    color: red;
}

.cls-btn:active {
    transform: translateY(4px);
}

#adder-dialog {
    position: absolute;
    background-color: #1E1E1E;
    bottom: 0px;
    right: 0px;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 10px black;
    z-index: 1;
    top: 0;
    font-family: D-DIN-Bold;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
}

.game-container-loader {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.game-cell {
    flex: 1 0 21%;
    margin: 5px;
}

.game-img {
    position: relative;
    box-shadow: 0px 0px 10px black;
    height: 135px;
    width: 240px;
    outline: none;
    border: solid 1px transparent;
}

.container:active .game-img {
    transform: translateY(4px);
}

.game-name {
    text-shadow: 0px 0px 10px black;
}

.search-bar-container {
    text-align: centre;
    background-color: #1E1E1E;
    color: white;
    border-style: none none solid none;
    border-color: green;
    position: sticky;
    top: 0;
    z-index: 1;
}

.back-btn {
    cursor: pointer;
    border-radius: 25px;
    color: red;
    padding: 5px 10px 5px 10px;
    border: solid 2px red;
    background-color: transparent;
    margin: 5px 0px 5px 0px;
    margin-left: 5px;
    outline: none;
    font-family: D-DIN-Bold;
}

.back-btn:hover {
    color: white;
    border: solid 2px red;
    background-color: red;
}

.back-btn:active {
    transform: translateY(4px);
}

#search-bar {
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 5px;
}

.search-btn {
    border: none;
    outline: none;
    background-color: white;
    margin-left: -32px;
    margin-top: 2px;
    color: black;
    border-radius: 0px 25px 25px 0px;
    font-size: large;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.search-btn:hover {
    color: green;
}

.search-btn:active {
    transform: translateY(1px);
}

#file-btn {
    display: none;
}

#add-game {
    cursor: pointer;
    border-radius: 25px;
    outline: none;
    color: green;
    padding: 5px 10px 5px 10px;
    border: solid 2px green;
    background-color: transparent;
    margin: 5px 0px 5px 0px;
    font-family: D-DIN-Bold;
    margin-right: 5px;
}

#add-game:hover {
    color: white;
    border: solid 2px green;
    background-color: green;
}

#add-game:active {
    transform: translateY(4px);
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #1E1E1E;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #1E1E1E;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(.6, #54DE5D))
}

.play-btn {
    position: absolute;
    left: calc(50% - 15px);
    padding: 0;
    margin: 0;
    top: calc(50% - 25px);
    opacity: 0;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    font-size: 50px;
    transition: opacity 0.5s ease;
}

.container:hover .play-btn {
    cursor: pointer;
    opacity: 1;
}

.container:active .play-btn {
    transform: translateY(4px);
}

.container {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.container:hover .game-img {
    transition: border 0.5s ease, opacity 0.5s ease;
    border: solid 1px chartreuse;
    opacity: 0.5;
}

.container:hover+.game-name {
    transition: color 0.5s ease;
    color: chartreuse;
}